nom des participants

TAMBAT Tresor Megane

# EXAMEN INTRA COURS INF 1833: Analyse Statisque et Visualisation des Donnes

In [12]:
# bibliotheque

import pandas as pd

In [13]:

# Lecture du fichier CSV
df = pd.read_csv("donnees_voitures.csv")

In [14]:
# Aperçu des 5 premières lignes
df.head()

,price,horsepower,engine_size,curb_weight,city_mpg,highway_mpg,wheelbase,car_width,fuel_type
0,13495,111,130,2548,21,27,88.6,64.1,gas
1,16500,111,130,2548,21,27,88.6,64.1,gas
2,16500,154,152,2823,19,26,94.5,65.5,gas
3,13950,102,109,2337,24,30,99.8,66.2,gas
4,17450,115,136,2824,18,22,99.4,66.4,gas

In [16]:
# Infos générales : types, valeurs manquantes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        50 non-null     int64
 1   horsepower   50 non-null     int64
 2   engine_size  50 non-null     int64
 3   curb_weight  50 non-null     int64
 4   city_mpg     50 non-null     int64
 5   highway_mpg  50 non-null     int64
 6   wheelbase    50 non-null     float64
 7   car_width    50 non-null     float64
 8   fuel_type    50 non-null     object
dtypes: float64(2), int64(6), object(1)
memory usage: 3.6+ KB

50 observation, 9 variables dont 8 sont numeriques et 1 categorielle

In [15]:
# Statistiques descriptives
df.describe()

,price,horsepower,engine_size,curb_weight,city_mpg,highway_mpg,wheelbase,car_width
count,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000
mean,13463.080000,102.420000,122.280000,2452.06000,25.820000,31.600000,96.908000,65.190000
std,8714.923754,36.237927,34.867703,500.49259,7.647035,7.674501,4.691757,2.267629
min,5151.000000,48.000000,61.000000,1488.00000,15.000000,20.000000,88.400000,60.300000
25%,6863.500000,70.000000,92.000000,2009.00000,19.250000,25.250000,93.700000,63.800000
50%,10696.500000,101.000000,114.500000,2366.00000,24.000000,30.000000,95.700000,64.200000
75%,17645.000000,120.750000,137.500000,2823.75000,31.000000,38.000000,100.250000,66.175000
max,45400.000000,182.000000,209.000000,3685.00000,49.000000,54.000000,110.000000,71.400000

## Partie 1  Analyse exploratoire